apiVersion: batch/v1
kind: Job
metadata:
  name: sleep{{ number }}
spec:
  template:
    metadata:
      annotations:
        deadline: "{{ deadline }}"
        runtime: "{{ runtime }}"
        failure: "{{ failure }}"
    spec:
      containers:
      - name: sleep0
        image: python
        command: ["python", "-c"]
        args:
        - "import time;
          import random;
          random.seed(time.time());
          print({{ deadline }}, end=' ');
          time.sleep({{ runtime }});
          print(1/0) if random.randrange(100) < {{ failure }} else print(' ');
          print(time.time())"
        imagePullPolicy: IfNotPresent
      restartPolicy: Never
      schedulerName: custom-scheduler
  backoffLimit: 0
